@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

:root {
    --temp-color0: rgb(37, 255, 4);

    --font0-style: 12pt 'Nunito Sans', sans-serif;

    --main-color0: rgba(0, 0, 90, 1);
    --main-color1: rgb(0, 0, 180);
    --main-color2: rgb(255, 255, 255);
  
    --backgroud-color0: rgb(147, 147, 219);
    --backgroud-color1: rgb(255, 255, 255);

    --shadow-color0: rgba(0, 0, 0, 0.3);

    --fade-out-animation: 5s;
    --switch-move-animation: 0.5s;
  }

*{
  margin: 0;
  padding: 0;
  font: var(--font0-style);
}
button {
  background-color: transparent;
  border: transparent;
  padding-left:5px;
  padding-right: 5px;
  border-radius: 5px;
  min-height: 10px;
  min-width: 10px;
  box-shadow: 1px 1px 2px;
}